<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FactoryService</title>
</head>
<body>
    <header>
        <h2><a asp-controller="home" asp-action="index">FactoryService</a></h2>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <h4>by Sergey Podlesny</h4>
    </footer>
</body>
